{% extends 'skills/base.html' %}
{% block content%}
<h2>Portfolio web site</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci, aspernatur at cumque debitis distinctio, facilis incidunt inventore,
    modi mollitia obcaecati porro reiciendis repellat sequi veniam? Atque cum deserunt, doloremque, esse et excepturi illum maxime nihil numquam odio officiis porro,
    possimus reiciendis repudiandae tempore temporibus vero! Animi aspernatur commodi dicta error excepturi explicabo quidem reiciendis rerum. Ab, fugit, ut. Adipisci
    amet atque cum cumque debitis earum eum facere fugiat impedit, laudantium nesciunt nulla optio provident ratione sequi temporibus totam. Ab accusantium alias
    consequatur consequuntur culpa dignissimos dolores ea esse est eveniet explicabo fuga, harum, id illo illum impedit ipsa laboriosam maxime necessitatibus nisi
    nostrum officia optio quae quibusdam quis repudiandae saepe similique? Adipisci aperiam assumenda deserunt dignissimos explicabo illum natus odit saepe, sint voluptatibus.
    Accusamus accusantium aspernatur assumenda consequatur culpa cumque, delectus deleniti dolorem enim eos esse, exercitationem facilis impedit, in ipsam ipsum iure
    laborum molestias natus omnis quas quo quod rerum temporibus totam veritatis vitae. Accusamus alias consequatur corporis dolorem, facilis in labore, laborum minima
    molestias possimus quia quo similique sunt. Accusamus animi beatae cumque debitis distinctio dolore dolorem, eum ex explicabo facilis harum ipsam labore magni maxime
    mollitia, nobis nulla officiis perferendis perspiciatis quasi ratione recusandae sint totam! Aspernatur atque ducimus exercitationem illum libero? Beatae doloribus
    esse excepturi ipsum nisi quae suscipit voluptatem voluptatibus! At autem exercitationem modi, nam natus nobis non praesentium provident reprehenderit sed sint tempora
    temporibus, ullam? Aut, dolorum, obcaecati? A accusantium commodi eaque illum maiores nam quis ratione sunt vitae voluptatem! Alias, consectetur quam.</p>
{% endblock content%}